<style>
		
        :root {
            --primaryColor: #2c3e50;
            --secondaryColor: #bdc3c7;
            --successColor: #27ae60;
            --warningColor: #f39c12;
            --dangerColor: #e74c3c;
            --backgroundColor: #ecf0f1;
            --modalBackgroundColor: #ecf0f1;
            --headerBackgroundColor: #34495e;
            --textColor: #2c3e50;
            --modalTextColor: #2c3e50;
            --titleHover: #3498db;
        }

        :root {
            /* Couleurs primaires */
            --primaryColor: #0c67b2;
            --secondaryColor: #ffc107;
            --successColor: #4caf50;
            --warningColor: #ff9800;
            --dangerColor: #f44336;
        
            /* Couleurs de fond */
            --backgroundColor: #f5f5f5;
            --modalBackgroundColor: #fefefe;
            --headerBackgroundColor: #aaaaaa;
        
            /* Couleurs du texte */
            --textColor: #333;
            --modalTextColor: #888;
        
            /*hover */
            --titleHover: #ff6347;
        }
        

		body {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 16px;
			line-height: 1.4;
			color: var(--textColor);

			padding: 0;
		}

		footer {
			padding-top: 5px;
			position: fixed;
			left: 0;
			bottom: 0;
			background-color: var(--primaryColor);
			width: 100%;
			margin: 0;
		}

		#promptOK {
			display: grid;
			grid-template-rows: 50% 50% 50%;
			margin: auto;
		}

		.confirmButton {
			grid-row: 3;
			background-color: var(--primaryColor);
			border: none;
			font-size: larger;
			font-weight: bolder;
			color: white;
			width: 70%;
			margin: 0 auto;
		}

		.confirmButton:hover {
			background-color: var(--secondaryColor);
		}

		.checkbox-container input[type="checkbox"] {
			width: 18px;
			height: 18px;
		}

		.checkbox-container {
			grid: 2;
			display: flex;
			align-items: center;
			margin-bottom: 15px;
			padding: 10px;
			background-color: var(--backgroundColor);
			border-radius: 4px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		}

		.checkbox-container label {
			margin-left: 10px;
			margin-right: 5px;
			font-weight: bold;
		}

		#title {
			font-size: 3em;
			font-weight: bolder;
			color: var(--primaryColor);
			text-align: center;
			text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
			letter-spacing: 1px;
			padding: 20px;
			font-family: "Times New Roman", Times, serif;
			transition: color 0.3s ease;
			padding-bottom: 2em;
		}

		#title:hover {
			color: var(--titleHover);
		}

		.infoText {
			text-align: center;
			font-size: 18px;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			line-height: 2;
		}

		a {
			color: #007bff;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}

		.row {
			width: 100%;
			display: flex;
			flex-direction: row;
			break-inside: avoid;
		}

		.col-1 {
			width: 8%;
		}

		.col-2 {
			width: 17%;
		}

		.col-6 {
			width: 50%;
		}

		.col-7 {
			width: 56%;
		}

		.col-8 {
			width: 66%;
		}

		.d-none {
			display: none;
		}

		.cell {
			padding: 3px;
			border-bottom: 1px solid black;
			border-right: 1px solid black;
		}

		.header {
			background-color: var(--headerBackgroundColor);
		}

		.table {
			margin: 1px;
			border-top: 1px solid black;
			border-left: 1px solid black;
		}

		.bold {
			font-weight: bolder;
		}

		textarea,
		input[type="text"] {
			border: 1px solid lightgray;
			background-color: #f5f5f5;
			width: 100%;
			padding: 8px;
			font-family: "Calibri", Arial, sans-serif;
			font-size: 14px;
			line-height: 1.6;
			border-radius: 4px;
			box-sizing: border-box;
		}

		textarea {
			resize: vertical;
		}

		.points {
			width: 30px;
			border: none;
			background-color: lightgray;
			text-align: center;
		}

		#divGrade {
			background-color: lightgray;
			font-size: larger;
			border: 1px solid black;
		}

		.value {
			font-weight: bold;
			padding: 4px;
			text-align: left;
		}

		.center {
			text-align: center;
		}

		td {
			width: 60px;
			text-align: center;
		}

		th {
			background-color: var(--headerBackgroundColor);
		}

		tr:nth-child(even) {
			background-color: #f2f2f2;
		}

		#testLoad {
			position: fixed;
			bottom: 55px;
			right: 10px;
			background-color: #f8f9fa;
			color: #6c757d;
			border: none;
			padding: 10px 20px;
			font-size: 14px;
			cursor: pointer;
		}

		#cmdErase {
			position: fixed;
			bottom: 30px;
			right: 10px;
			background-color: var(--modalBackgroundColor);
			color: var(--primaryColor);
			border: none;
			font-size: 25px;
			cursor: pointer;
		}

		#cmdErase:hover,
		#cmdSave:hover,
		#cmdGetFile:hover,
		#cmdFreeze:hover,
		#cmdEmpty:hover {
			background-color: var(--secondaryColor);
		}

		#cmdErase .menu {
			display: none;
			position: relative;
			bottom: 30px;
			/* Ajustement pour placer le menu à gauche */
			background: white;
			padding: 10px;
		}

		#cmdErase:hover .menu {
			display: block;
		}

		.optionMenu:hover {
			background-color: var(--primaryColor);
			color: white;
		}

		#cmdEmpty {
			background-color: #88b5e3;
			color: black;
			border: none;
			padding: 10px;
			margin: 10px;
			font-size: 14px;
			cursor: pointer;
			transition: background-color 0.3s ease;
		}

		#listOfevalsList button {
			display: inline-block;
			width: auto;
			height: auto;
			min-height: 120px;
			padding: 12px;
			margin: 7px;
			border: none;
			background-color: var(--primaryColor);
			color: white;
			text-align: center;
			text-decoration: none;
			font-size: 16px;
			cursor: pointer;
			transition: background-color 0.3s ease;
			position: relative;
			overflow: hidden;
		}

		#listOfevalsList button .candidate {
			margin-bottom: 5px;
			font-weight: bold;
			background-color: var(--secondaryColor);
			padding: 8px 12px;
		}

		#listOfevalsList button .boss {
			margin-bottom: 3px;
			background-color: var(--successColor);
			padding: 8px 12px;
		}

		#listOfevalsList button .expert1,
		#listOfevalsList button .expert2 {
			margin-bottom: 3px;
		}

		#listOfevalsList button::before,
		#listOfevalsList button::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background: linear-gradient(to bottom,
					rgba(0, 0, 0, 0.4) 0%,
					rgba(0, 0, 0, 0) 100%);
			opacity: 0;
			transition: opacity 0.3s ease;
		}

		#listOfevalsList button:hover::before,
		#listOfevalsList button:hover::after {
			opacity: 1;
		}

		#listOfevalsList button::before {
			top: 0;
		}

		#listOfevalsList button::after {
			bottom: 0;
		}

		#listOfevalsList button:hover {
			background-color: var(--titleHover);
		}

		.button {
			display: inline-block;
			padding: 10px 20px;
			border-radius: 5px;
			background-color: cornflowerblue;
			color: white;
			text-align: center;
			text-decoration: none;
			transition: background-color 0.3s ease;
			margin-right: 10px;
			margin-bottom: 30px;
		}

		.button:hover {
			background-color: dodgerblue;
			color: #333;
		}

		@media print {
			.pagebreak {
				page-break-before: always;
			}

			.noprint {
				display: none;
			}

			div {
				-webkit-print-color-adjust: exact !important;
				print-color-adjust: exact !important;
			}
		}

		.modal {
			display: none;
			position: fixed;
			z-index: 1;
			padding-top: 100px;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: rgb(0, 0, 0);
			background-color: rgba(0, 0, 0, 0.4);
		}

		.modal-content {
			position: relative;
			min-height: 160px;
			min-width: 400px;
			background-color: var(--modalBackgroundColor);
			margin: auto;
			padding: 20px;
			border: 1px solid #888;
			width: 80%;
		}

		.close {
			position: absolute;
			top: 5px;
			right: 10px;
			color: var(--modalTextColor);
			font-size: x-large;
			font-weight: bolder;
			cursor: pointer;
		}

		.close:hover,
		.close:focus {
			color: #000;
			text-decoration: none;
		}
	</style>